a{
    text-decoration: none;


}
body {
    background-image: url("https://www.google.co.in/imgres?imgurl=https%3A%2F%2Fimages.pexels.com%2Fphotos%2F248797%2Fpexels-photo-248797.jpeg%3Fauto%3Dcompress%26cs%3Dtinysrgb%26h%3D350&imgrefurl=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fnature%2F&docid=ShwNVOdFBcmkxM&tbnid=0BGSuulMzOpmDM%3A&vet=10ahUKEwiQsJzE7MTeAhUBKcAKHTlmDkwQMwhpKAAwAA..i&w=875&h=350&bih=657&biw=1366&q=images&ved=0ahUKEwiQsJzE7MTeAhUBKcAKHTlmDkwQMwhpKAAwAA&iact=mrc&uact=8");
    background-size: cover;
 }
